<%- include('partials/adminheader'); -%>

<div>
    <div class="row">
         <% if(results.length===0){ %>
          <h5 style="margin-top:150px;">Nothing to display</h5>
         <% }else{ %>
         <% results.forEach((element)=>{ %>
                <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="assets/img/profile.png" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title" style="font-weight: 700;"><%= element.name %></h5>
                          <h6 class="card-subtitle mb-2 text-muted"><%= element.linkedin %></h6>
                        </div>
                    </div>
                </div> 
          <% }); }%>
    </div>
</div>

<%- include('partials/footer'); -%>