<%- include('partials/header'); -%>
  <!-- ======= Hero Section ======= -->
  <section id="hero">

    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-lg-6 py-5 py-lg-0 order-2 order-lg-1" data-aos="fade-right">
          <h1>Get your Career Predicted</h1>
          <h2>On the basis of your Technical Skills and Interest</h2>
          <% if (!user) { %>
            <a onclick="toggle('sign', 'log');" class="btn-get-started scrollto">Register Yourself</a>
            <% } %>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left">
          <img src="assets/img/career2.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about section-bg">
    <div class="container">
      <div class="section-title">
        <h2 data-aos="fade-in">About Us</h2>
        <p data-aos="fade-in">
          All of us at some point or the other have had made a decision regarding our career and thus understand how
          overwhelming and confusing it can get. The plethora of options available to pick from also adds to the
          difficulty of choosing one.
          Especially we as CS students have faced the dilemma of choosing one specialization for our career.
          Moreover, the recruiters are also faced with the task of allocating a suitable job role to an applicant,
          after recruiting. 
        All of this can be made easier by following the following steps.</p>
      </div>
      
        <div class="row content justify-content-center">
         

        
        <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start" data-aos="fade-right"></div>
        <div class="col-xl-7 pl-0 pl-lg-5 pr-lg-1 d-flex align-items-stretch">
          <div class="flex-column justify-content-center">
            <div class="row">
              <div class="col-md-6 icon-box" data-aos="fade-up">
                <i class="bx bx-receipt"></i>
                <h4>Signup</h4>
                <p>Signup by providing few basic personal details of yours like name, email etc.</p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                <i class="bx bx-cube-alt"></i>
                <h4>Login</h4>
                <p>Using the same email and password, log into your account.</p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                <i class="bx bx-images"></i>
                <h4>Fill Out the form</h4>
                <p>Answer a few questions about your Interest and Technical Skills, and on that basis get the best
                  suited CS Geek Profile predicted for you</p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-shield"></i>
                <h4>View results on your dashboard</h4>
                <p>You can take multiple Assessments, results of all of which would be shown on your dashboard. Admins can also find candidates' listing by job roles.</p>
              </div>
            </div>
          </div><!-- End .content-->
        </div>
      </div>

    </div>
  </section><!-- End About Section -->

  <!-- ======= Features Section ======= -->
  <section id="features" class="features section-bg">
    <div class="container">




      <div class="section-title">
        <h2 data-aos="fade-in">Features</h2>
        <p data-aos="fade-in">A platform for predicting job roles based on few inputs by the user.</p>
      </div>

      <div class="row content">
        <div class="col-md-5" data-aos="fade-right">
          <img src="assets/img/features-4.svg" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 pt-4" data-aos="fade-left">
          <h3>Finding a perfect Job Role is just a few clicks away!</h3>
          <p class="fst-italic">
            Feed in just a few details and there you go. 
          </p>
          <ul>
            <li><i class="bi bi-check"></i> Recruiters can find the most suitable candidtaes according to the job roles.</li>
            <li><i class="bi bi-check"></i> Recruiters can also connect with the candidates based on the predictions made.</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Features Section -->
  <%- include('login'); -%>
  <%- include('partials/footer'); -%>

  
  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>
</html>
